.news {
    &__comments {
        display: none;
        grid-area: comments;
        overflow: hidden;
        border-top: 1px solid #000;
        padding: 15px 10px;
        text-align: justify;
        text-indent: 10px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

}