.news {
    display: grid;
    grid-template-areas: 'title title'
        'content info';
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 0.5fr;
    width: 450px;
    height: 200px;
    margin: 30px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightyellow;
    border: 1px solid #000;
    border-radius: 10px;

    &__title {
        grid-area: title;
        padding: 15px 0;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.25em;
        text-align: center;
        border-bottom: 1px solid #000;
        border-radius: 10px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__text {
        grid-area: content;
        padding: 15px 10px;
        overflow: hidden;
        text-align: justify;
        text-indent: 10px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        grid-area: info;
        align-items: center;
        justify-content: space-around;
        border-left: 1px solid #000;
    }
}


.info {
    &__button {
        width: 80px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 5px;
        cursor: pointer;

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 30px;
            color: #000;
            font-size: 16px;
            border-radius: 5px;
            transition-duration: 0.3s;

            &:active {
                color: lightyellow;
                background-color: #000;
                transition-duration: 0.3s;
            }
        }
    }

    &__date{
        font-weight: 600
    }


}